body {
    font-family: 'Courier New', Courier, monospace; 
    margin: 0;
    padding: 0;
    background-color: #2a2a2a; 
    color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

a {
    color: white;
}

a:focus {
    color: orange;
}

.header-text {
    font-family: 'Monoton';
    color: orange;
    font-weight: 0;
    font-size: 30px;
}

h1 {
    color: orange; 
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase; 
    letter-spacing: 3px;
}

p, .mail-ref {
    color: #f0f0f0;
    text-align: center;
    margin: 10px 0;
    font-size: 18px; 
    line-height: 1.6;
}

.main-page-text {
    padding-left: 10%;
    padding-right: 10%;
}

.page {
    background: #333333; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    max-width: 800px; 
    margin: 30px auto;
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    text-transform: uppercase; 
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: orange; 
}

div.content {
    padding-bottom: 15px;
    font-size: 16px;
    flex-grow: 1; 
}

footer {
    text-align: center;
    color: #f0f0f0;
    padding: 15px 0;
    font-size: 14px;
    width: 100%;
    bottom: 0;
}

.main-page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social-icon {
    font-size: 24px;
    color: white; 
    margin: 0 10px;
    text-decoration: none;
}

.single-news {
    display: flex;
    align-items: flex-start;
    margin: 1.5em 0;
    padding: 1.5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #333;
}

.single-news img {
    width: 10vw;
    height: auto;
    max-width: 150px;
    margin-right: 1.5em;
    border-radius: 5px;
}

.single-news .news-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.single-news strong {
    font-size: 1.2em;
    color: #f8f8f8;
    margin-bottom: 0.3em;
    display: block; 
}

.single-news .news-date {
    font-size: 0.9em;
    color: #aaa;
    margin-bottom: 1em;
}

.single-news p {
    color: #ccc;
    font-size: 1em;
    line-height: 1.6;
    display: block;
    text-align: left;
}
